* {
    margin: 0;
    padding: 0;
}
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
#container{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}
.bdiv{
    border-radius: 15px;
}

#navcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(132, 0, 255);
    min-height: 60px;
    flex-grow: 0;
}
.navitem{    
    background-color: rgb(134, 133, 136);
    height: 100%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#navdiv1{
    background-color: aliceblue;
    flex-grow: 1;
    flex-basis: 0;
}
#navdiv2{
    background-color: rgb(255, 0, 0);
    flex-grow: 1.5;
    flex-basis: 0;
}
#navdiv3{
    background-color: chartreuse;
    flex-grow: 1;
    flex-basis: 0;
}

#bodycontainer{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    flex-grow: 1;
}
.bodyitem{
    background-color: rgb(77, 94, 48);
    height: fit-content;
    max-height: 100vh;
    border-radius: 15px;
    display: flex;    
}
#bodydiv1{
    background-color: rgb(153, 153, 153);
    flex-grow: 1;
    flex-basis: 0;
    min-height: 500px;
}
#bodydiv2{
    background-color: rgb(13, 255, 0);
    flex-grow: 1.5;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    max-height: calc(100vh - 60px);
    overflow:auto;
    scrollbar-width: none;
}
#bodydiv3{
    background-color: rgb(153, 153, 153);
    flex-grow: 1;
    flex-basis: 0;
    min-height: 500px;
}
#middledivitem{
    box-sizing: border-box;
    padding: 10px;
    background-color: blueviolet;

}
.post{

}