html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
#container{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}
.bdiv{
    border-radius: 15px;
}

#navcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(132, 0, 255);
    height: 60px;
}
.navitem{    
    background-color: rgb(134, 133, 136);
    height: 100%;
    border-radius: 15px;

}
#div11{
    background-color: aliceblue;
    flex-grow: 1;
}
#div12{
    background-color: rgb(255, 0, 0);
    flex-grow: 2;
}
#div13{
    background-color: chartreuse;
    flex-grow: 1;
}

#bodycontainer{
    background-color: rgb(0, 247, 255);
    height: 80vh;
}